// Body
$body-bg: #09081A;

// Typography
$enable-responsive-font-sizes: true !default;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.4rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$colone: #312d3c;
$coltwo: #1a1b1f;
$primaryCol: #717BF9;
$colthr: rgb(0, 0, 0);
$navbarbg: $body-bg;
$secondaryCol: #E9ECFF;
$boxShadowPrimary: 0 -2px 10px #615DED;
$boxShadowPrimaryHover: 0 -2px 40px #615DED;
$boxShadowSecondary: 5px 5px 5px #666669;
$borderRadius: 10px;