@import url("https://fonts.googleapis.com/css?family=Nunito");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF29;
  background-color: #191919;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
}

/* Navigation */
.nav-bar {
  display: block;
  background: #191919;
  opacity: 1;
  position: relative;
}

.nav-bar .nav-logo-img {
  float: left;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
}

.nav-bar nav {
  float: right;
  margin: 0;
  position: relative;
  text-align: center;
}

.nav-bar nav ul {
  margin: 0;
  padding-top: 30px;
}

.nav-bar nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 20px;
}

.nav-bar nav ul li a {
  letter-spacing: var(--unnamed-character-spacing-2-6);
  font: normal normal normal 26px/23px Lust Display;
  letter-spacing: 2.6px;
  color: #BDC1F6;
  opacity: 1;
  text-decoration: none;
  text-transform: uppercase;
}

/* END - Navigation */
/* HEADER PAGE */
.header-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  font-size: 1rem;
  scroll-snap-align: center;
  vertical-align: middle;
  text-align: center;
}

.header-block #header_logo {
  z-index: 999;
  opacity: 1;
  top: 150px;
  display: block;
  position: relative;
  width: 80%;
}

.header-block .header_button_wrapper {
  position: absolute;
  width: 100%;
  bottom: 50px;
}

.header-block .header_button_wrapper #header_button {
  z-index: 4;
  width: 65px;
  border-radius: 50%;
  background: #29292996 0% 0% no-repeat padding-box;
  opacity: 1;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.panel {
  color: white;
  height: 100%;
  min-width: 100%;
  text-align: center;
  display: table;
  margin: 0;
  background: #1c1c1c;
  padding: 0 0;
}

.panel .inner {
  display: table-cell;
  vertical-align: middle;
}

.backgroundimg {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#back1 {
  background-image: url("/storage/images/bg3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#back2 {
  background-image: url("/storage/images/bg2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#back3 {
  background-image: url("/storage/images/bg1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#back4 {
  background-image: url("/storage/images/bg0.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#backgroundchange div:nth-of-type(1) {
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
}

#backgroundchange div:nth-of-type(2) {
  animation-delay: 8s;
  -webkit-animation-delay: 8s;
}

#backgroundchange div:nth-of-type(3) {
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
}

#backgroundchange div:nth-of-type(4) {
  animation-delay: 0;
  -webkit-animation-delay: 0;
}

#backgroundchange div {
  animation-name: backgroundchangeFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 16s;
  -webkit-animation-name: backgroundchangeFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 16s;
}

/* END - HEADER PAGE */
.footer {
  background: #191919;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  margin-bottom: 20p;
}

.footer img {
  width: 136px;
}

/* SECTIONS */
section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  font-size: 1rem;
  scroll-snap-align: center;
}

section h2 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 900;
  color: black;
}

section:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(#BDC1F6D6), to(#FFFFFF29)) 0% 0% no-repeat padding-box;
  background: linear-gradient(180deg, #BDC1F6D6 0%, #FFFFFF29 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

section:nth-child(3) {
  opacity: 1;
  background: #FFFFFF87 0% 0% no-repeat padding-box;
}

section:nth-child(4) {
  background: transparent linear-gradient(358deg, #BDC1F6E0 0%, #FFFFFF87 100%) 0% 0% no-repeat padding-box;
  opacity: 0.61;
}

section:nth-child(5) {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#dbdefbe0), color-stop(30%, #B3B7F8CC), to(#00054B)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #dbdefbe0 0%, #B3B7F8CC 30%, #00054B 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* END - SECTIONS */
/*# sourceMappingURL=app.css.map */